venv/
.venv
venv/Lib/site-packages/*
data_crawl/web_crawl/boozt/*.json
data_crawl/web_crawl/darveys/*.json
data_crawl/web_crawl/farfetch/*.json
data_crawl/web_crawl/styleanda/*.json
data_crawl/web_crawl/styleanda/*.csv
data_crawl/web_crawl/yoox/*.json
dataset_build/DeepFashion2/train/*
dataset_build/DeepFashion2/validation/*
dataset_build/DeepFashion2/yolo_train/*
dataset_build/DeepFashion2/yolo_valid/*
dataset_build/DeepFashion2/*.rar
dataset_build/Fashionpedia/train/*
dataset_build/Fashionpedia/validation/*
dataset_build/Fashionpedia/test.py
dataset_build/Fashionpedia/test1.py
model/cnn/static/*h5
app/database/full_database/dress/*.jpg
app/database/full_database/outwear/*.jpg
app/database/full_database/shirt/*.jpg
app/database/full_database/short/*.jpg
app/database/full_database/skirt/*.jpg
app/database/full_database/trouser/*.jpg

