.active {
  display: block !important;
}

.header {
  background-color: var(--black-color-1st);
  color: var(--white-color-3rd);
}
.header .option__bar {
  justify-self: center;
  flex: 1;
}
.header .menu-right {
  justify-self: flex-end;
}
.header .list {
  display: flex;
  align-items: center;
  flex: 1;
}
.header .list .item {
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  margin-right: 8px;
}
.header .list .item:not(:first-child) {
  margin-left: 8px;
}
.header .list .item .link {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
}
.header .list .item .link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.header .list .item.user {
  flex: 1;
  justify-content: flex-end;
  position: relative;
}
.header .list .item.user:hover .menu {
  display: block;
}
.header .list .item.user .img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.header .list .item.user .name {
  margin-left: 4px;
  font-size: 1.6rem;
  font-weight: 400;
}
.header .list .item.user .menu {
  position: absolute;
  padding-left: 0;
  top: 110%;
  right: 0;
  list-style: none;
  background-color: var(--white-color-1st);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  width: 120px;
  z-index: 2022;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  animation: fadeIn ease-in 0.2;
  -webkit-animation: fadeIn ease-in 0.2;
}
.header .list .item.user .menu .menu-item a {
  text-decoration: none;
  color: var(--black-color-4th);
  font-size: 1.4rem;
  display: block;
  padding: 8px 12px;
}
.header .list .item.user .menu .menu-item a:hover {
  background-color: var(--white-color-3rd);
}
.header .list .item.user .menu .menu-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header .list .item.user .menu .menu-item a.last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header .list .item.user .menu .menu-item::after {
  content: "";
  border: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color-1st) transparent;
  position: absolute;
  right: 4px;
  top: -27px;
  animation: fadeIn ease-in 0.2;
  z-index: -1;
}
.header .list .item.user .menu .menu-item.top-seperate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.header .list .item.authorize {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.header .list .hasqr:hover .qr {
  display: block;
}
.header .list .seperate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: var(--grey-color);
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header .list .option {
  font-size: 1.6rem;
  color: var(--white-color);
  margin: 0 8px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
.header .list .option .option-list {
  position: absolute;
  top: 140%;
  right: 0;
  border-radius: 4px;
  z-index: 2022;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  -webkit-border-radius: 8px;
}
.header .list .option .option-list:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 18px;
  top: -10px;
  right: 0px;
}
.header .list .option .option-list .option-item {
  background-color: var(--white-color-1st);
  color: var(--black-color-1st);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 6px 20px 6px 16px;
  min-height: 35px;
}
.header .list .option .option-list .option-item:hover {
  background-color: var(--white-color-3rd);
}
.header .list .option:hover .option-list {
  display: block;
}
.header .list .notification .notification__container {
  cursor: default;
  position: absolute;
  top: 118%;
  width: 404px;
  background-color: var(--white-color-1st);
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform-origin: calc(100% - 32px) top;
  animation: headernotify ease-in 0.25s, fadeIn ease-in 0.25s;
  -webkit-animation: headernotify ease-in 0.25s, fadeIn ease-in 0.25s;
  will-change: opacity, transform;
  display: none;
  z-index: 3;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 0 12px;
}
@keyframes headernotify {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.header .list .notification .notification__container .notification__list .list-items .link {
  background-color: var(--grey-color);
  padding: 12px;
  border-radius: 8px;
}
.header .list .notification .notification__container .notification__list .list-items .link .info .name {
  display: block;
  font-size: 1.6rem;
  color: var(--black-color-1st);
  font-weight: 300;
  line-height: 1.2;
}
.header .list .notification .notification__container .notification__list .list-items .link .info .desc {
  display: block;
  font-size: 1.2rem;
  color: var(--black-color-4th);
  line-height: 1.2;
  margin-top: 4px;
}
.header .list .notification .notification__container .notification__list .list-items .link:hover {
  background-color: var(--white-color-3rd);
}
.header .list .notification .notification__container .notification__list .list-items .link.viewed {
  background-color: var(--white-color-1st);
}
.header .list .notification .notification__container .notification__list .list-items .link.viewed:hover {
  background-color: var(--white-color-3rd);
}
.header .list .notification .notification__container .notification__list .list-items::after {
  content: "";
  border: solid;
  border-width: 20px 26px;
  border-color: transparent transparent var(--white-color-1st) transparent;
  position: absolute;
  right: 20px;
  top: -29px;
  z-index: 3;
}
.header .list .notification .notification__container .header {
  background-color: var(--white-color-1st);
  border-bottom: 2px solid var(--grey-color);
}
.header .list .notification .notification__container .button {
  margin: 12px 0;
}
.header .list .notification::before {
  content: "";
  display: block;
  position: absolute;
  height: 20%;
  width: 100%;
  left: 0px;
  bottom: -18%;
}
.header .list .notification h3 {
  color: var(--grey-color);
  margin: 0 0 0 12px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}
.header .list.islogin .authorize {
  display: none;
}
.header .list.islogin .item.user {
  display: inline-flex;
}
.header .list .item.user {
  display: none;
}
.header .navbar {
  margin-top: 8px;
  display: flex;
}
.header .active {
  display: block;
}
.header .link {
  position: relative;
  text-decoration: none;
}
.header .link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__search {
  position: sticky;
  padding: 8px 0;
  border-bottom: 2px solid var(--grey-color);
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--white-color-1st);
}
.header__search .logo {
  width: 100%;
  aspect-ratio: 1/1;
}
.header__search .logo .link {
  width: 100%;
}
.header__search .searchbar {
  display: flex;
  align-items: center;
  background-color: var(--white-color-3rd);
  border-radius: 8px;
  padding: 4px 0;
}
.header__search .searchbar .input-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
}
.header__search .searchbar .input-wrapper .input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--black-color-1st);
  padding: 0 16px;
  background-color: var(--white-color-3rd);
}
.header__search .searchbar .input-wrapper .input:focus ~ .history {
  display: block;
}
.header__search .searchbar .input-wrapper .history {
  position: absolute;
  top: calc(100% + 16px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color-1st);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: var(--box-shadow-1);
  display: none;
  z-index: 100;
  padding: 12px 12px;
}
.header__search .searchbar .input-wrapper .history .heading {
  color: var(--grey-color);
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 500;
}
.header__search .searchbar .input-wrapper .history .list {
  margin-top: 8px;
}
.header__search .searchbar .input-wrapper .history .list .list-item {
  padding: 12px 12px;
  flex: 1;
  width: 100%;
  border-radius: 8px;
}
.header__search .searchbar .input-wrapper .history .list .list-item:hover {
  background-color: var(--white-color-3rd);
}
.header__search .searchbar .input-wrapper .history .list .list-item a {
  font-size: 1.4rem;
  display: block;
  text-decoration: none;
  color: var(--black-color-1st);
  line-height: 1.2;
}
.header__search .searchbar .button {
  background-color: var(--black-color-1st);
  border: none;
  height: 34px;
  min-width: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-right: 8px;
  outline: none;
}
.header__search .searchbar .button:hover {
  background-color: var(--black-color-1st);
  filter: brightness(80%);
  cursor: pointer;
  -webkit-filter: brightness(80%);
}
.header__search .searchbar .button i {
  font-size: 1.6rem;
  color: var(--white-color-1st);
}
.header__search .cart {
  text-align: center;
}
.header__search .cart .wrap {
  text-decoration: none;
  background-color: var(--black-color-1st);
  position: relative;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}
.header__search .cart .wrap:hover .list {
  display: block;
}
.header__search .cart .wrap i {
  color: var(--white-color-1st);
  font-size: 2rem;
  aspect-ratio: 1/1;
  width: 100%;
}
.header__search .cart .wrap .notice {
  position: absolute;
  padding: 1px 7px;
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--white-color-1st);
  right: -8px;
  top: -4px;
  font-weight: 500;
}
.header__search .cart .wrap .list {
  position: absolute;
  top: calc(100% + 6px);
  right: 10px;
  background-color: var(--white-color-1st);
  width: 400px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2s;
  -webkit-animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 101;
}
.header__search .cart .wrap .list::before {
  content: "";
  position: absolute;
  right: -1px;
  top: -18px;
  border-width: 12px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color-1st) transparent;
  cursor: pointer;
}
.header__search .cart .wrap .list .empty-wrapper,
.header__search .cart .wrap .list .has-wrapper {
  display: none;
}
.header__search .cart .wrap .list.emptycart .empty-wrapper {
  display: block;
  background-color: var(--white-color-1st);
  padding: 12px 12px;
}
.header__search .cart .wrap .list.emptycart .empty-wrapper .mess {
  display: block;
  font-size: 1.6rem;
  margin-top: 12px;
  color: var(--black-color-1st);
  font-weight: 500;
}
.header__search .cart .wrap .list.hascart {
  text-align: left;
}
.header__search .cart .wrap .list.hascart .has-wrapper {
  display: block;
  padding: 12px 12px;
  z-index: 2;
}
.header__search .cart .wrap .list.hascart .has-wrapper .heading {
  display: block;
  font-size: 2rem;
  margin-top: 12px;
  color: var(--grey-color);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list {
  max-height: 56vh;
  overflow-y: scroll;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list::-webkit-scrollbar {
  display: none;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item {
  border-top: 2px solid var(--grey-color);
  align-items: center;
  padding: 8px;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item:hover {
  background-color: var(--white-color-3rd);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item img {
  border: 1px solid var(--grey-color);
  max-height: 100px;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black-color-1st);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-heading .name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
  padding-right: 16px;
  overflow: hidden;
  flex: 1;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-heading .price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color-1st);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-heading .multiply {
  font-size: 0.8rem;
  color: var(--grey-color);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-heading .qnt {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey-color);
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-body {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 1.2rem;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-body .button {
  color: var(--black-color-4th);
  font-size: 1.4rem;
  cursor: pointer;
}
.header__search .cart .wrap .list.hascart .has-wrapper .cart__list .list-item .info .info-body .button:hover {
  color: var(--black-color-1st);
}
.header__search .cart .wrap .list.hascart .has-wrapper a {
  position: relative;
  right: -61%;
  margin-bottom: 10px;
  margin-right: 0;
}

.header__menu {
  background-color: var(--white-color-1st);
  padding-top: 8px;
  position: relative;
  z-index: 1;
  border-bottom: 2px solid var(--grey-color);
}
.header__menu .choice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__menu .choice li {
  color: var(--black-color-1st);
  position: relative;
  padding: 8px 20px 8px 0;
}
.header__menu .choice li a {
  text-decoration: none;
}
.header__menu .choice li .title {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
}
.header__menu .choice li .title:hover {
  color: rgba(0, 0, 0, 0.5);
}
.header__menu .choice li:hover .submenu--big {
  display: block;
}
.header__menu .choice li .submenu--big {
  display: none;
  cursor: default;
  position: absolute;
  background-color: var(--white-color-1st);
  color: var(--black-color-1st);
  padding-left: 0;
  list-style: none;
  right: 0;
  width: 1000px;
  left: -135%;
  top: 100%;
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.header__menu .choice li .submenu--big .submenu {
  padding: 32px;
}
.header__menu .choice li .submenu--big .submenu .heading {
  padding-bottom: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}
.header__menu .choice li .submenu--big .submenu .heading::after {
  content: "";
  background-color: var(--black-color-1st);
  width: 40px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header__menu .choice li .submenu--big .submenu .submenu-items {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.header__menu .choice li .submenu--big .submenu .submenu-items .item {
  padding: 5px 0 5px 25px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  color: var(--black-color-3rd);
  font-size: 1.6rem;
}
.header__menu .choice li .submenu--big .submenu .submenu-items .item:hover {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  border-radius: 4px;
}
.header__menu .tag {
  display: flex;
}
.header__menu .tag .component {
  display: flex;
  align-items: center;
  color: var(--black-color-1st);
  margin-bottom: 10px;
}
.header__menu .tag .component:not(:last-child) {
  margin-right: 16px;
}
.header__menu .tag .component i {
  font-size: 3rem;
  margin-right: 8px;
}
.header__menu .tag .component .aside {
  display: flex;
  flex-direction: column;
}
.header__menu .tag .component span:nth-child(1) {
  font-size: 1.2rem;
  line-height: 1.2;
}
.header__menu .tag .component span:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 500;
}

.product-vertical {
  text-align: center;
}
.product-vertical .wrapper:hover .img .btn-slide {
  bottom: 15px;
  opacity: 1;
}
.product-vertical .wrapper:hover .img .tag {
  opacity: 1;
}
.product-vertical .wrapper:hover .img > i {
  opacity: 1;
}
.product-vertical .wrapper .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  max-height: 900px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  position: relative;
}
.product-vertical .wrapper .img > i {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 2rem;
  color: var(--black-color-1st);
  opacity: 0;
  transition: all linear 0.25s;
}
.product-vertical .wrapper .img > i:hover {
  color: var(--white-color-1st);
  cursor: pointer;
}
.product-vertical .wrapper .img .tag {
  position: absolute;
  top: 2%;
  left: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all linear 0.25s;
}
.product-vertical .wrapper .img .tag .tag-item {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3px;
  min-width: 64px;
}
.product-vertical .wrapper .img .tag .tag-item.tag--sale {
  background-color: #e86121;
  display: block;
}
.product-vertical .wrapper .img .tag .tag-item.tag--new {
  background-color: green;
  display: block;
}
.product-vertical .wrapper .img .tag .tag-item.tag--featured {
  background-color: purple;
  display: block;
}
.product-vertical .wrapper .img .tag .tag-item.tag--close {
  display: none;
}
.product-vertical .wrapper .img .btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.product-vertical .wrapper .img .btn-slide i {
  font-size: 1.6rem;
  padding: 8px 8px;
  color: var(--black-color-1st);
  background-color: var(--white-color-1st);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  cursor: pointer;
}
.product-vertical .wrapper .des {
  padding-top: 12px;
}
.product-vertical .wrapper .des .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.product-vertical .wrapper .des .rating i, .product-vertical .wrapper .des .rating span {
  font-size: 1rem;
  margin: 0 3px;
  color: var(--black-color-2nd);
}
.product-vertical .wrapper .des .name {
  font-size: 1.6em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-bottom: 4px;
}
.product-vertical .wrapper .des .name:hover {
  color: var(--black-color-3rd);
  cursor: pointer;
}
.product-vertical .wrapper .des .vendor h2 {
  font-size: 1.2rem;
}
.product-vertical .wrapper .des .vendor h2 a {
  color: var(--black-color-3rd);
}
.product-vertical .wrapper .des .price {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.product-vertical .wrapper .des .price .price--old {
  text-decoration: line-through;
  margin-right: 8px;
}
.product-vertical .wrapper .des .button {
  width: 100%;
  margin: 8px 0 12px 0;
}

.product-horizontal {
  text-align: center;
  margin-bottom: 24px;
}
.product-horizontal .wrapper:hover .img {
  filter: grayscale(0);
}
.product-horizontal .wrapper:hover .img .btn-slide {
  bottom: 15px;
  opacity: 1;
}
.product-horizontal .wrapper:hover .img .tag {
  opacity: 1;
}
.product-horizontal .wrapper:hover .img > i {
  opacity: 1;
}
.product-horizontal .wrapper .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 600px;
  max-height: 600px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 4px;
}
.product-horizontal .wrapper .img > i {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 2rem;
  color: var(--black-color-1st);
  opacity: 0;
  transition: all linear 0.25s;
}
.product-horizontal .wrapper .img > i:hover {
  color: var(--white-color-1st);
  cursor: pointer;
}
.product-horizontal .wrapper .img .tag {
  position: absolute;
  top: 2%;
  left: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all linear 0.25s;
}
.product-horizontal .wrapper .img .tag .tag-item {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3px;
}
.product-horizontal .wrapper .img .tag .tag-item.tag--sale {
  background-color: #e86121;
  display: block;
}
.product-horizontal .wrapper .img .tag .tag-item.tag--new {
  background-color: green;
  display: block;
}
.product-horizontal .wrapper .img .tag .tag-item.tag--featured {
  background-color: purple;
  display: block;
}
.product-horizontal .wrapper .img .btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.product-horizontal .wrapper .img .btn-slide i {
  font-size: 1.6rem;
  padding: 8px 8px;
  color: var(--black-color-1st);
  background-color: var(--white-color-1st);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  cursor: pointer;
}
.product-horizontal .wrapper .des {
  padding-top: 12px;
}
.product-horizontal .wrapper .des .rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
}
.product-horizontal .wrapper .des .rating i, .product-horizontal .wrapper .des .rating span {
  font-size: 1rem;
  margin-right: 4px;
  color: var(--black-color-2nd);
}
.product-horizontal .wrapper .des .name {
  font-size: 1.6em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 8px;
}
.product-horizontal .wrapper .des .name:hover {
  color: var(--black-color-3rd);
  cursor: pointer;
}
.product-horizontal .wrapper .des .vendor {
  align-items: flex-start;
}
.product-horizontal .wrapper .des .vendor h2 {
  font-size: 1.2rem;
}
.product-horizontal .wrapper .des .vendor h2 a {
  color: var(--black-color-3rd);
}
.product-horizontal .wrapper .des .price {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 12px;
}
.product-horizontal .wrapper .des .price .price--old {
  text-decoration: line-through;
  margin-right: 8px;
}
.product-horizontal .wrapper .des > p {
  font-size: 1.2rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.product-horizontal .wrapper .des .button {
  width: 100%;
  margin: 8px 0 12px 0;
}

.product-horizontal-small {
  text-align: left;
  align-items: center;
}
.product-horizontal-small:hover img {
  filter: grayscale(0);
}
.product-horizontal-small img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 4px;
}
.product-horizontal-small img > i {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 2rem;
  color: var(--black-color-1st);
  opacity: 0;
  transition: all linear 0.25s;
}
.product-horizontal-small img > i:hover {
  color: var(--white-color-1st);
  cursor: pointer;
}
.product-horizontal-small img .tag {
  position: absolute;
  top: 2%;
  left: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all linear 0.25s;
}
.product-horizontal-small img .tag .tag-item {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  padding: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3px;
}
.product-horizontal-small img .tag .tag-item.tag--sale {
  background-color: #e86121;
  display: block;
}
.product-horizontal-small img .tag .tag-item.tag--new {
  background-color: green;
  display: block;
}
.product-horizontal-small img .tag .tag-item.tag--featured {
  background-color: purple;
  display: block;
}
.product-horizontal-small img .btn-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
.product-horizontal-small img .btn-slide i {
  font-size: 1.6rem;
  padding: 8px 8px;
  color: var(--black-color-1st);
  background-color: var(--white-color-1st);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  cursor: pointer;
}
.product-horizontal-small .des .name {
  font-size: 1.2em;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
}
.product-horizontal-small .des .name:hover {
  color: var(--black-color-3rd);
  cursor: pointer;
}
.product-horizontal-small .des .rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
}
.product-horizontal-small .des .rating i, .product-horizontal-small .des .rating span {
  font-size: 1rem;
  margin-right: 4px;
  color: var(--black-color-2nd);
}
.product-horizontal-small .des .item_vendor {
  align-items: flex-start;
}
.product-horizontal-small .des .item_vendor h2 {
  font-size: 1.2rem;
}
.product-horizontal-small .des .item_vendor h2 a {
  color: var(--black-color-3rd);
}
.product-horizontal-small .des .price {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.product-horizontal-small .des .price .price--old {
  text-decoration: line-through;
  margin-right: 8px;
}

.banner {
  margin-bottom: 60px;
}
.banner .wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  height: 300px;
}
.banner .wrapper img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: all linear 0.3s;
}
.banner .wrapper img:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

.pagination .item {
  margin: 0 12px;
}
.pagination .item.active .item__link {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
}
.pagination .item .item__link {
  --height: 40px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: var(--white-color-2nd);
  aspect-ratio: 1/1;
  height: var(--height);
  display: block;
  line-height: var(--height);
  text-align: center;
  border-radius: 50%;
  color: var(--black-color-1st);
  font-weight: 400;
}
.pagination .item .item__link:hover {
  background-color: var(--grey-color);
  color: var(--black-color-1st);
}

.footer {
  border-top: 2px solid var(--black-color-1st);
  background-color: var(--white-color-3rd);
  padding-bottom: 60px;
}
.footer .feature {
  padding: 80px 0;
  background-color: var(--white-color-3rd);
}
.footer .feature .item {
  display: flex;
  align-items: flex-start;
}
.footer .feature .item .icon {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  border: 4px double var(--black-color-1st);
  display: flex;
  margin-right: 20px;
  color: var(--black-color-1st);
}
.footer .feature .item .icon i {
  margin: auto;
  font-size: 1.8rem;
}
.footer .feature .item .icon:hover {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
}
.footer .feature .item .des h2 {
  font-size: 1.8rem;
  padding-bottom: 10px;
  line-height: 1.2;
}
.footer .feature .item .des span {
  font-size: 1.4rem;
}
.footer .menu .list .item {
  display: flex;
  align-items: flex-start;
}
.footer .menu .list .item .link {
  font-size: 1.6rem;
  color: var(--black-color-1st);
  display: block;
  padding: 2px 0;
  display: flex;
  align-items: center;
}
.footer .menu .list .item .link:hover {
  color: var(--black-color-3rd);
}
.footer .menu .list .item .link .icon {
  font-size: 1.6rem;
  margin-top: -1px;
  margin-right: 8px;
}

.body__slider {
  background-image: linear-gradient(to left, rgba(108, 117, 125, 0.5), rgba(206, 212, 218, 0.5));
}
.body__slider:hover .body__slider-wrapper .left-button, .body__slider:hover .body__slider-wrapper .right-button, .body__slider:hover .body__slider-wrapper .dot-pagination {
  display: block;
}
.body__slider .body__slider-wrapper {
  position: relative;
  overflow-x: hidden;
}
.body__slider .body__slider-wrapper .slider .slider-item .component {
  padding: 24px 15px;
}
.body__slider .body__slider-wrapper .slider .slider-item .component h2 {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 20px;
}
.body__slider .body__slider-wrapper .slider .slider-item .component span {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--black-color-4th);
}
.body__slider .body__slider-wrapper .slider .slider-item .component img {
  height: 600px;
}
.body__slider .body__slider-wrapper .slider .slider-item .component .slider-button {
  margin-top: 32px;
}
.body__slider .body__slider-wrapper .left-button {
  display: none;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
}
.body__slider .body__slider-wrapper .left-button i {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  font-size: 1.8rem;
  padding: 12px 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  min-width: 42px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.body__slider .body__slider-wrapper .left-button i:hover {
  color: var(--grey-color);
}
.body__slider .body__slider-wrapper .right-button {
  display: none;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
}
.body__slider .body__slider-wrapper .right-button i {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  font-size: 1.8rem;
  padding: 12px 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  min-width: 42px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.body__slider .body__slider-wrapper .right-button i:hover {
  color: var(--grey-color);
}
.body__slider .body__slider-wrapper .dot-pagination {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.body__slider .body__slider-wrapper .dot-pagination .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.4s linear;
  transform-origin: center;
}
.body__slider .body__slider-wrapper .dot-pagination .dot:hover {
  background-color: var(--black-color-1st);
}
.body__slider .body__slider-wrapper .dot-pagination .dot.dot--active {
  width: 32px;
  border-radius: 4px;
  background-color: var(--black-color-1st);
}

.body__suggest {
  margin-top: 24px;
  margin-bottom: 80px;
}
.body__suggest .body__suggest-wrapper {
  overflow-x: hidden;
  position: relative;
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper {
  position: relative;
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper .item {
  min-height: 120px;
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper .item:hover .img {
  color: var(--black-color-1st);
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper .item:hover .img::before {
  background-color: rgba(173, 181, 189, 0.8);
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper .item .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color-1st);
  padding: 20px 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(100%);
}
.body__suggest .body__suggest-wrapper .slider .slider-item .wrapper .item .img::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: -1;
}

.product_grid {
  text-align: center;
  margin-bottom: 40px;
}
.product_grid .heading {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 40px;
  color: var(--black-color-1st);
  text-transform: uppercase;
}
.product_grid .item-btn {
  margin: 20px 0;
}

.vendor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vendor .content {
  margin: auto;
  position: relative;
  width: 80%;
}
.vendor .content::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  background-color: var(--white-color-1st);
  border: 2px dashed var(--black-color-1st);
  transform: translate(-50%, -50%);
  animation: rotate360 linear 5s infinite;
  animation-play-state: paused;
}
.vendor .content .img {
  position: relative;
  text-align: center;
}
.vendor .content .img img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 3px dotted var(--primary-color);
  outline-offset: -3px;
}
.vendor .content .img .overlay {
  content: "";
  position: absolute;
  width: 80%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity linear 0.3s;
}
.vendor .content .img .overlay i {
  font-size: 3.2rem;
  color: var(--white-color-1st);
  cursor: pointer;
}
.vendor .content .img:hover .overlay {
  opacity: 1;
}
.vendor .content .img:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.vendor .content:hover::before {
  animation-play-state: running;
}
.vendor .title {
  margin-top: 16px;
  margin-bottom: 28px;
}
.vendor .title h2 {
  margin: 12px 0 8px 0;
  font-size: 1.6rem;
  line-height: 1.2;
}
.vendor .title span {
  font-size: 1.2rem;
  line-height: 1.2;
}

.vendor_list {
  margin-bottom: 60px;
}
.vendor_list .heading {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 40px;
  color: var(--black-color-1st);
  text-transform: uppercase;
}
.vendor_list .wrapper {
  position: relative;
}
.vendor_list .wrapper .left-button {
  display: none;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
}
.vendor_list .wrapper .left-button i {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  font-size: 1.8rem;
  padding: 12px 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  min-width: 42px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.vendor_list .wrapper .left-button i:hover {
  color: var(--grey-color);
}
.vendor_list .wrapper .right-button {
  display: none;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
}
.vendor_list .wrapper .right-button i {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  font-size: 1.8rem;
  padding: 12px 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: var(--box-shadow-1);
  min-width: 42px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.vendor_list .wrapper .right-button i:hover {
  color: var(--grey-color);
}
.vendor_list .wrapper:hover .left-button, .vendor_list .wrapper:hover .right-button {
  display: block;
}

.main-page__list {
  text-align: center;
  margin-bottom: 60px;
}
.main-page__list .heading {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 40px;
  color: var(--black-color-1st);
  text-transform: uppercase;
}
.main-page__list .wrapper_list .wrapper {
  border-radius: 4px;
  background-color: var(--white-color-3rd);
  padding: 16px;
}
.main-page__list .wrapper_list .wrapper .heading {
  font-size: 1.6rem;
  text-align: left;
  padding-bottom: 20px;
}
.main-page__list .wrapper_list .wrapper .item-list .product-horizontal-small {
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.main-page__list .wrapper_list .wrapper .item-list .product-horizontal-small:not(:last-child) {
  border-bottom: 2px solid var(--grey-color);
}

.shop {
  margin-bottom: 40px;
}

.product__detail {
  margin: 40px 0;
}
.product__detail .product--wrapper {
  background-color: var(--white-color-3rd);
  padding: 20px;
  box-shadow: var(--box-shadow-1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product__detail .product--wrapper .left > img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  aspect-ratio: 2/3;
  border: 1px solid var(--black-color-1st);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.product__detail .product--wrapper .right > h2 {
  margin: 16px 0;
  color: var(--black-color-1st);
  font-size: 2rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.product__detail .product--wrapper .right > span {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  padding: 8px 8px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 8px;
  margin-right: 8px;
}
.product__detail .product--wrapper .right span {
  display: inline-block;
}
.product__detail .product--wrapper .right .price {
  margin: 20px 0;
}
.product__detail .product--wrapper .right .price > h2 {
  font-size: 3.2rem;
  color: var(--black-color-1st);
  line-height: 1.2;
  display: inline-block;
  margin-right: 12px;
}
.product__detail .product--wrapper .right .price .price--discount h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 700;
  color: var(--grey-color);
  text-decoration: line-through;
}
.product__detail .product--wrapper .right .price .price--discount span {
  margin-bottom: 4px;
}
.product__detail .product--wrapper .right p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}
.product__detail .product--wrapper .right .product_detail-tag h2 {
  color: var(--black-color-1st);
  display: inline-block;
  margin-right: 4px;
  font-size: 1.6rem;
}
.product__detail .product--wrapper .right .product_detail-tag .list {
  display: inline-block;
}
.product__detail .product--wrapper .right .product_detail-tag .list span {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 4px;
  top: 0;
  position: relative;
  transition: all linear 0.25s;
  cursor: pointer;
}
.product__detail .product--wrapper .right .product_detail-tag .list span:hover {
  top: -4px;
}
.product__detail .product--wrapper .right .product_detail-size {
  margin: 20px 0;
}
.product__detail .product--wrapper .right .product_detail-size > h2 {
  color: var(--black-color-1st);
  display: inline-block;
  margin-right: 4px;
  font-size: 1.6rem;
}
.product__detail .product--wrapper .right .product_detail-size .list {
  display: inline-flex;
  align-items: center;
}
.product__detail .product--wrapper .right .product_detail-size .list span {
  background-color: var(--white-color-1st);
  color: var(--black-color-1st);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 4px;
  top: 0;
  cursor: pointer;
  border: 1px solid var(--black-color-1st);
}
.product__detail .product--wrapper .right .product_detail-size .list span.list--active {
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  border: 1px solid var(--white-color-1st);
}
.product__detail .product--wrapper .right .product_detail-action .action--quantity {
  position: relative;
  margin-right: 8px;
}
.product__detail .product--wrapper .right .product_detail-action .action--quantity span {
  background-color: var(--white-color-1st);
  color: var(--black-color-1st);
  border-radius: 8px;
  border: 1px solid var(--black-color-1st);
  padding: 12px 48px 12px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2;
}
.product__detail .product--wrapper .right .product_detail-action .action--quantity i {
  position: absolute;
  right: 10%;
  color: var(--black-color-1st);
  font-size: 1.2rem;
  cursor: pointer;
}
.product__detail .product--wrapper .right .product_detail-action .action--quantity i:nth-child(2) {
  top: 15%;
}
.product__detail .product--wrapper .right .product_detail-action .action--quantity i:nth-child(3) {
  bottom: 15%;
}
.product__detail .product--wrapper .right .product_detail-action .action--interact i {
  font-size: 1.2rem;
  padding: 12px 12px;
  background-color: var(--black-color-1st);
  color: var(--white-color-1st);
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  transition: all linear 0.25s;
  position: relative;
}
.product__detail .product--wrapper .right .product_detail-action .action--interact i:hover {
  top: -3px;
}
.product__detail .product--wrapper .right .product_detail-subtext {
  margin-top: 20px;
}
.product__detail .product--wrapper .right .product_detail-subtext .item h2 {
  margin-bottom: 4px;
  font-size: 1.2rem;
  display: inline-block;
  min-width: 40%;
}
.product__detail .product--wrapper .right .product_detail-subtext .item span, .product__detail .product--wrapper .right .product_detail-subtext .item a {
  color: var(--black-color-4th);
  font-weight: 600;
}
.product__detail .product--wrapper .right .product_detail-share {
  margin: 20px 0;
}
.product__detail .product--wrapper .right .product_detail-share h2 {
  margin-right: 12px;
  color: var(--black-color-1st);
  font-size: 1.6rem;
}
.product__detail .product--wrapper .right .product_detail-share .share-list a {
  color: var(--white-color-1st);
  margin-right: 8px;
}
.product__detail .product--wrapper .right .product_detail-share .share-list a i {
  background-color: var(--black-color-1st);
  padding: 8px 8px;
  font-size: 2rem;
  border-radius: 50%;
  position: relative;
  top: 0;
  transition: all linear 0.25s;
}
.product__detail .product--wrapper .right .product_detail-share .share-list a i:hover {
  top: -3px;
}
.product__detail .product--wrapper .product_detail__info {
  padding: 20px;
  border: 1px solid var(--black-color-1st);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.product__detail .product--wrapper .product_detail__info .items .item {
  display: inline-block;
}
.product__detail .product--wrapper .product_detail__info .items .item span {
  border-radius: 8px;
  border: 1px solid var(--black-color-1st);
  color: var(--black-color-1st);
  padding: 8px 12px;
  margin-right: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.product__detail .product--wrapper .product_detail__info .items .item.items--active span {
  color: var(--white-color-1st);
  background-color: var(--black-color-1st);
  box-shadow: var(--box-shadow-1);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container {
  margin-top: 40px;
  text-align: justify;
  display: none;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container p, .product__detail .product--wrapper .product_detail__info .product_detail--container span {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 400;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container ul h2 {
  display: inline-block;
  width: 30%;
  margin: 4px 0;
  font-size: 1.2rem;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-feature {
  margin-top: 20px;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-feature h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--black-color-1st);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table {
  width: 100%;
  padding: 16px 20px;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table tr {
  align-items: stretch;
  border: 1px solid var(--black-color-1st);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table tr:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table tr:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table th, .product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table td {
  padding: 8px 0 8px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-color-1st);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-table table td {
  font-weight: 400;
  border-left: 1px solid var(--black-color-1st);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail--feature-para {
  font-size: 1.2rem;
  color: var(--black-color-1st);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews {
  border: 1px solid var(--black-color-1st);
  padding: 20px 32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews textarea {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 12px;
  padding: 16px 12px;
  border-radius: 4px;
  color: var(--black-color-1st);
  outline: none;
  font-weight: 500;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews h2 {
  margin: 0 0 20px 0;
  font-size: 1.6rem;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-heading h2 {
  font-size: 1rem;
  color: var(--black-color-1st);
  flex: 1;
  margin: 0;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-body {
  margin: 20px 0;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-body .items {
  background-color: var(--white-color-1st);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-body .items span {
  width: 30%;
  background-color: var(--white-color-3rd);
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-body .items .reviews-rating-select {
  --width: 0.5;
  background-color: var(--black-color-1st);
  width: calc(var(--width) * 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-body .items .reviews-rating-select span {
  background-color: transparent;
  color: var(--white-color-1st);
  font-size: 0.8rem;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container .product_detail-reviews .reviews-rating .reviews-rating-footer span {
  color: var(--black-color-3rd);
  font-size: 1rem;
  cursor: pointer;
}
.product__detail .product--wrapper .product_detail__info .product_detail--container.container--active {
  display: block;
}
.product__detail .product_detail-vendor-logo .product_detail-logo-img img {
  max-width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.product__detail .product_detail--subheading {
  margin: 20px 0;
}
.product__detail .product_detail--subheading .item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.product__detail .product_detail--subheading .item i {
  color: var(--white-color-1st);
  width: 30px;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  margin-right: 8px;
  background-color: var(--black-color-1st);
  padding: 8px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.product__detail .product_detail--subheading .item h2, .product__detail .product_detail--subheading .item span {
  color: var(--black-color-1st);
  font-size: 1.2rem;
  margin: 0;
  margin-right: 8px;
}
.product__detail .product_detail-vendor--feature {
  border-top: 1px solid var(--black-color-1st);
  border-bottom: 1px solid var(--black-color-1st);
  margin-bottom: 20px;
}
.product__detail .product_detail-vendor--feature .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 8px 20px 8px 0;
}
.product__detail .product_detail-vendor--feature .item h2 {
  color: var(--black-color-1st);
  font-size: 2rem;
  margin-top: 8px;
}
.product__detail .product_detail-vendor--feature .item span {
  font-size: 1rem;
  color: var(--black-color-4th);
}
.product__detail .product_detail__ship, .product__detail .product_detail__vendor {
  background-color: var(--white-color-3rd);
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.product__detail .product_detail__vendor h2 {
  font-size: 1.6rem;
  margin: 8px 0;
}
.product__detail .product_detail__ship h2 {
  font-size: 1.6rem;
  margin: 8px 0;
}
.product__detail .product_detail__ship i {
  margin-right: 8px;
  font-size: 1.2rem;
  color: var(--black-color-1st);
}
.product__detail .product_detail__ship span {
  color: var(--black-color);
  font-size: 1.2rem;
  font-weight: 400;
}
.product__detail .product_detail__ship .product_detail__ship-delivery {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--black-color-1st);
}
.product__detail .product_detail__ship .product_detail__ship-delivery span:last-child {
  display: inline-block;
  color: var(--black-color-3rd);
  cursor: pointer;
  margin-bottom: 12px;
}
.product__detail .related__product {
  margin: 40px 0;
}
.product__detail .related__product > h2 {
  padding-bottom: 12px;
  position: relative;
  border-bottom: 2px solid var(--black-color-1st);
  font-size: 1.6rem;
  color: var(--black-color-1st);
}
.product__detail .related__product .related_product-list {
  margin-top: 32px;
}
.product__detail .product_detail_top {
  margin-top: 16px;
  border: 1px solid var(--black-color-1st);
  border-radius: 4px;
  padding: 8px 8px;
}
.product__detail .product_detail_top .product_detail_top-heading {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  border-bottom: 2px solid var(--grey-color);
  position: relative;
  padding: 12px 0;
  margin-bottom: 8px;
}
.product__detail .product_detail_top .product_detail_top-heading::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 20%;
  bottom: -2px;
  left: 0;
  background-color: var(--black-color-1st);
}
.product__detail .product__detail-ad {
  position: relative;
  margin-top: 20px;
}
.product__detail .product__detail-ad img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: right;
  border-radius: 4px;
}
.product__detail .product__detail-ad .product__detail-ad-text {
  position: absolute;
  left: 10%;
  bottom: 10%;
  transform: translate(-10%, 10%);
  font-size: 2rem;
  color: var(--white-color-1st);
  transition: all linear 0.25s;
}
.product__detail .product__detail-ad .product__detail-ad-text h2 {
  color: var(--white-color-3rd);
}
.product__detail .product__detail-ad .product__detail-ad-text:hover {
  transform: translate(-10%, -10%);
}

/*# sourceMappingURL=allstyle.css.map */
