/* Header */

.header{
    /* height: var(--header-height); */
    background-color: var(--primary-color);
}

.header__part{
    background-color: var(--primary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
}

/* Navbar Left */

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item a{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar--hasqr:hover .header__qr,
.header__navbar--hasnotify:hover .header__notification{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item a:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-seperate:after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: var(--border-color) ;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}


.header__navbar-item,
.header__navbar-icon-link,
.header__navbar-item-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-title-nopointer{
    cursor: text;
    color: var(--white-color);
}
.header__navbar-user{
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 120px;
    z-index: 2022;
    box-shadow:  0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.2;
    -webkit-animation: fadeIn ease-in 0.2;
}

.header__navbar-menu-item-seperate{
    border-top: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-menu-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-menu-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-menu-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-menu-item a:hover{
    background-color: #fafafa;
    color: var(--heading-color);
}

.header__navbar-user-menu::after{
    content: "";
    border: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -27px;
    animation: fadeIn ease-in 0.2;
    z-index: -1;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
