/* Logo */
.header__logo{
    width: 200px;
    margin-left: 8px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
}

/* Header Search */

.header__search{
    height: calc(var(--header-height) - var(--navbar-height));
    display: flex;
    align-items: center;
}


.header__searchbar{
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__searchbar-input-wrapper{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__searchbar-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.header__searchbar-input:focus ~.header__searchbar-history {
    display: block;
}

.header__searchbar-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    min-width: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-right: 4px;
    outline: none;
}

.header__searchbar-btn:hover{
    background-color: var(--primary-color);
    filter: brightness(80%);
    cursor: pointer;
    -webkit-filter: brightness(80%);
}

.header__searchbar-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(120% - 1px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    animation: fadeIn ease 0.3s;
    -webkit-animation: fadeIn ease 0.3s;
}

.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    top: -15px;
    left: 0;
    position: absolute;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
}
.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 24px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__searchbar-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 1px 5px rgb(167, 167, 167);
    display: none;
    z-index: 2021;
}

.header__searchbar-history-heading{
    color: #999;
    margin: 6px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__searchbar-history-list{
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
    overflow: hidden;
}

.header__searchbar-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__searchbar-history-item:hover{
    background-color: #fafafa;
}

.header__searchbar-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* Header Cart */
.header__cart{
    width: 52px;
    text-align: center;
}

.header__cart:not(:last-child){
    padding-right: 4px;
}

.header__cart-wrap{
    background-color: var(--white-color);
    position: relative;
    display: inline-block;
    padding: 6px 6px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    min-width: 40.4px;
}

.header__cart-icon{
    color: var(--primary-color);
    font-size: 2.0rem;
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--primary-color);
    right: -3px;
    top: -4px;
}

/* Cart empty */
.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 10px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    -webkit-animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 2022;
}

.header__cart-list::before{
    content:"" ;
    position: absolute;
    right: -1px;
    top: -19px;
    border-width: 12px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.cart__empty{
    padding: 24px 0;
}


.cart__empty .cart__empty-img,
.cart__empty .header__cart-list-empty-mess{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart__empty-img{
    width: 30%;
    display: none;
}

.header__cart-list-empty-mess{
    display: block;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
    display: none;
}

/* Cart has products */
.header__cart--heading{
    color: var(--text-color);
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: scroll;
}

.header__cart-list-item::-webkit-scrollbar{
    display: none;
}

.header__cart-item{ 
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    object-fit: contain;
    margin: 12px;
    border: 1px solid #999;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.4rem;
    max-height: 2.8rem;
    padding-right: 16px;
    overflow: hidden;
    flex: 1;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4x;
    color: #757575;
}

.header__cart-itrm-qnt{
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-body-des{
    color: #757575;
    font-weight: 400;
    font-size: 1.2rem;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-btn{
    position: relative;
    right: -25%;
    margin-bottom: 10px;
    margin-right: 0;
}