@mixin icon-circle{
    display: none;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    i{
        background-color: var(--black-color-1st);
        color: var(--white-color-1st);
        font-size: 1.8rem;
        padding: 12px 12px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        box-shadow: var(--box-shadow-1);
        min-width: 42px;
        aspect-ratio: 1/1;
        cursor: pointer;
        &:hover{
            color: var(--grey-color);
        }
    }
}